.main {
background-color: rgb(0, 204, 163);
height: 60%;
box-shadow: 15px 15px 50px rgba(45, 45, 45, 1);
color: white;
}

.spacer {
  height: 10%;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 28px;
}

button {
  color: black;
}

h1 {
  font-size: 60px;
}

#about {
  font-size: 20px;
}

span.logo {
  font-family: 'Lobster', cursive;
}
